/*! CSS Used from: http://localhost:63342/accessibility-workshop/Opdracht%20dag%201/css/styles-new.css ;
 media=screen */
@media screen{
    body,div,span,h1,h2,a,img,i,ul,li,fieldset,form,label,legend{
        border:0;
        outline:0;
        font-size:100%;
        background:transparent;
        margin:0;
        padding:0;
    }
    body{
        line-height:1;
        background-color:#ffffff;
        font-family:serif;
        color:#000000;
    }
    ul{
        list-style:none;
    }
    a:focus,input:focus{
        outline:1px dotted #a9aaad;
    }
    p{
        margin-bottom:1em;
    }
    fieldset legend{
        position:static;
        left:0;
        margin:0;
        white-space:normal;
    }
    .date{
        color:#666;
    }
    .section.toptasks{
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center center;
        width:100%;
        min-height:500px;
        height:70vh;
        display:block;
    }
    @media (max-width:767px){
        .section.toptasks{
            height:auto;
        }
    }
    a.btn{
        font-family:Lato,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
        font-size:1em;
        line-height:1.4em;
        background:#0069a1;
        padding:.8em 2em;
        border-radius:5px;
        border:none;
        color:#fff;
        text-decoration:none;
        align-items:center;
        margin-bottom:1.5em;
        -webkit-box-shadow:0 15px 15px -6px #969696;
        -moz-box-shadow:0 15px 15px -6px #969696;
        box-shadow:0 15px 15px -6px #969696;
        min-width:200px;
        display:inline-block;
        float:none;
        -webkit-appearance:none;
        overflow-wrap:break-word;
        word-wrap:break-word;
        -webkit-hyphens:auto;
        -moz-hyphens:auto;
        -ms-hyphens:auto;
        hyphens:auto;
        -ms-word-break:normal;
        word-break:normal;
    }
    a.btn:hover{
        opacity:.9;
        text-decoration:none;
        transform:scale(1.049,1.049);
        cursor:pointer;
    }
    a.btn:focus{
        border:2px dotted #ddd;
        opacity:.9;
        transform:scale(1.049,1.049);
    }
    #footer-container-contact a.btn{
        border:1px solid #fff;
        background:0 0;
        box-shadow:none;
        border-radius:0;
    }
    a.btn:hover::before{
        transform:scaleX(1);
    }
    .btn::before{
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        display:inline-block;
        margin-right:.7em;
    }
    .geo::after{
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        display:inline-block;
        margin-left:.7em;
    }
    .geo::after{
        content:"\f041";
    }
    .footer-banner .banner-text *{
        color:#1a2653;
    }
    .footer-banner .banner-text.white *{
        color:#fff;
    }
    footer,footer>div{
        position:relative;
        width:100%;
        float:left;
    }
    .footer-banner{
        width:100%;
        border:1px solid #fff;
        margin-bottom:2em;
    }
    .footer-banner .banner-img,.footer-banner .banner-text{
        width:50%;
        height:175px;
        float:left;
    }
    .footer-banner .banner-img{
        overflow:hidden;
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }
    .footer-banner .banner-text{
        padding:1em 3%;
        box-sizing:border-box;
        background-color:#0069a1;
    }
    @media (max-width:767px){
        .footer-banner .banner-img,.footer-banner .banner-text{
            width:100%;
        }
        .footer-banner .banner-text{
            padding:1em 5%;
        }
    }
    .footer-banner .banner-text h2{
        font-weight:700;
    }
    #footer-container-contact{
        background-color:#1a2653;
        color:#fff;
        position:relative;
        float:left;
        box-sizing:border-box;
        padding-top:3em;
    }
    #footer-container-contact .column{
        float:left;
        width:32%;
        padding:0 2% 0 0;
        box-sizing:border-box;
        margin:0 1% 0 0;
        min-width:280px;
        word-wrap:break-word;
    }
    #footer-container-contact .column ul:not(.contact-buttons) li{
        margin-left:1em;
        list-style-type:none;
    }
    #footer-container-contact .column ul:not(.contact-buttons) li::before{
        content:"\f105";
        font-family:"Font Awesome 5 Free";
        font-weight:600;
        font-size:1em;
        font-weight:600;
        color:#c4c4c4;
        display:inline-block;
        text-decoration:none;
        width:1em;
        float:left;
        margin-left:-1em;
        line-height:inherit;
        padding-left:.1em;
    }
    #footer-container-contact .column a,#footer-container-contact .column h2{
        color:#fff;
    }
    #footer-container-contact .column:last-child{
        padding:0;
        margin:0;
    }
    #footer-container-contact .contact-buttons{
        position:relative;
        min-height:50px;
        clear:both;
        margin:35px 0 25px;
    }
    #footer-container-contact .contact-buttons .contact-button{
        float:left;
    }
    @media only screen and (max-device-width:1200px) and (-webkit-min-device-pixel-ratio:2){
        #footer-container-contact .column{
            margin-right:0;
            margin-top:1em;
            width:50%;
        }
    }
    @media screen and (max-width:767px){
        #footer-container-contact .column{
            margin-right:0;
            margin-top:1em;
            width:100%;
        }
        #footer-container-contact .column:last-child{
            margin-top:2em;
        }
    }
    .contact-buttons{
        position:relative;
        min-height:200px;
        clear:both;
        margin:35px 0 25px;
    }
    .contact-buttons .contact-button{
        float:left;
    }
    .contact-buttons .contact-button a{
        text-decoration:none;
    }
    .contact-buttons .contact-button .contact-button-icon{
        position:relative;
        margin-right:1em;
        cursor:pointer;
        display:table;
    }
    .contact-buttons .contact-button .contact-button-icon .footer-icons{
        display:table-cell;
        vertical-align:middle;
        text-align:center;
        width:100%;
        opacity:.8;
    }
    .contact-buttons .contact-button .contact-button-icon .footer-icons::before{
        margin-right:0;
    }
    .icon-round{
        border-radius:100%;
    }
    .icon-round.icon-round-xsmall{
        width:35px;
        height:35px;
    }
    .icon-round.icon-round-small{
        width:40px;
        height:40px;
    }
    img{
        max-width:100%;
    }
    #page-options{
        position:fixed;
        right:0;
        width:3.5em;
        text-align:center;
        z-index:5;
        top:25%;
    }
    #page-options h2{
        display:inline-block;
        font-weight:400;
        color:#1a2653;
        margin-top:.5em;
        position:absolute;
        top:-9999px;
        left:-99999px;
    }
    .po_contrast{
        height:3.5em;
        position:relative;
        overflow:hidden;
    }
    .po_contrast>div{
        position:relative;
        width:3.5em;
        display:table-cell;
        text-align:center;
        vertical-align:middle;
    }
    .po_contrast:hover a{
        color:#fff;
    }
    .po_contrast a{
        width:100%;
        color:#999;
        display:block;
        text-decoration:none;
        font-size:.68rem;
        height:4.8em;
        position:relative;
        z-index:2;
    }
    .po_contrast{
        background-color:#111;
    }
    .po_contrast:hover{
        background-color:#000;
    }
    .po_contrast a::before{
        content:"\f042";
        font-family:"Font Awesome 5 Free";
        font-weight:800;
        color:#fff;
        height:1.1em;
        width:2.8em;
        display:table-cell;
        vertical-align:middle;
        font-size:2.3em;
        position:absolute;
        top:1em;
    }
    .content_fontsize a{
        text-decoration:none;
        width:3.5em;
        height:3.5em;
        display:block;
        text-align:center;
        vertical-align:middle;
        color:#999;
        background:#333;
        overflow:hidden;
    }
    .content_fontsize a:hover{
        background:#282828;
        color:#fff;
    }
    .content_fontsize a:hover span{
        background:#282828;
    }
    .content_fontsize .textfontsize{
        font-size:.68rem;
        display:block;
        padding-bottom:.3em;
    }
    .content_fontsize .small{
        font-size:1.3rem;
        background:#333;
        color:#fff;
    }
    .content_fontsize .big{
        font-size:1.7rem;
        background:#333;
        color:#fff;
    }
    @media only screen and (max-width:736px){
        #page-options{
            position:relative;
            float:left;
            width:100%;
        }
        #page-options .po_contrast{
            float:left;
            width:50%;
            height:55px;
        }
        #page-options .po_contrast a{
            line-height:53px;
            color:#fff;
            font-size:13px;
            display:inline-table;
            margin-left:20px;
            width:auto;
            height:auto;
        }
        #page-options .po_contrast a::before{
            top:0;
            line-height:53px;
            font-size:20px;
            opacity:.9;
            margin-left:-45px;
        }
        #page-options #contrast{
            width:100%;
            display:block;
        }
        #page-options .content_fontsize{
            position:absolute;
            top:-99999em;
        }
    }
    #header-search{
        width:55em;
        float:right;
        margin:2em 0;
    }
    #search{
        position:relative;
        clear:left;
        width:100%;
        border-radius:0;
        transition:all .25s cubic-bezier(1,0,0,1) 0s;
    }
    #search label{
        position:absolute;
        top:-999999em;
    }
    #search form fieldset{
        z-index:10;
        height:40px;
        background-color:#fff;
        border:1px solid #c4c4c4;
        border-radius:3px;
        -webkit-box-shadow:0 15px 25px rgba(0,0,0,.1),0 2px 10px rgba(0,0,0,.22);
        -moz-box-shadow:0 15px 25px rgba(0,0,0,.1),0 2px 10px rgba(0,0,0,.22);
        box-shadow:0 15px 25px rgba(0,0,0,.1),0 2px 10px rgba(0,0,0,.22);
    }
    .homepage.version2 #search form fieldset{
        height:40px;
    }
    #search form fieldset legend{
        position:absolute;
        top:-999999em;
    }
    #search form fieldset .searchbox_trefwoord{
        border:0;
        border-radius:0;
        float:left;
        color:#979797;
        font-size:1em;
        font-weight:100;
        padding:0 2% 0 4.5%;
        width:80%;
        height:100%;
    }
    #search form fieldset::after{
        font-size:1em;
        font-family:"Font Awesome 5 Free";
        font-weight:800;
        content:"\f002";
        position:absolute;
        height:100%;
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:flex-end;
        right:0;
        padding-right:2%;
        width:20%;
        color:#fff;
        background-color:#0069a1;
    }
    #search form fieldset .searchbox_submit{
        color:#fff;
        background-color:transparent;
    }
    #search form fieldset .searchbox_submit{
        position:absolute;
        right:0;
        width:20%;
        height:100%;
        font-size:0;
        font-size:1em;
        cursor:pointer;
        border:0;
        border-radius:0;
        -webkit-appearance:none;
        z-index:10;
    }
    #search form fieldset input{
        font-family:Lato,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    }
    :not(.topsearch).homepage #search form fieldset .searchbox_trefwoord,:not(.topsearch).homepage #search form fieldset::after{
        font-size:1.2em;
    }
    @media (max-width:767px){
        #header-search #search form fieldset{
            height:50px;
        }
        #header-search #search form fieldset .searchbox_trefwoord{
            min-height:1.5em;
            font-size:1em;
            padding:.5em 2% .5em 4.5%;
        }
        .homepage #header-search{
            margin:1em 0 2em;
        }
    }
    ul.skiplinks li{
        padding:0;
    }
    ul.skiplinks li::before{
        background-image:none;
        background-size:0;
        width:0;
        position:inherit;
    }
    ul.skiplinks a{
        position:absolute;
        top:0;
        left:-9999px;
        z-index:3;
    }
    ul.skiplinks a:focus{
        display:block;
        left:0;
        color:#fff;
        background:#000;
        font-size:1em;
        padding:1em;
        text-decoration:none;
        margin-top:45px;
    }
    .toptasks h2{
        font-weight:400;
        font-size:1.4em;
        line-height:1.6em;
        color:#666;
    }
    #toptask-list ul{
        margin-bottom:1.5em;
        overflow:visible;
        position:relative;
        float:left;
        width:46%;
    }
    #toptask-list ul:first-child{
        margin-right:8%;
    }
    #toptask-list ul li{
        position:relative;
        padding-bottom:1em;
        margin-bottom:0;
        border:0;
        line-height:1.4em;
    }
    #toptask-list ul li.has-icon{
        display:-webkit-box;
        display:-moz-box;
        display:-ms-flexbox;
        display:-webkit-flex;
    }
    #toptask-list ul li a{
        color:#1a2653;
        text-decoration:none;
        font-weight:500;
        font-size:1.2em;
        line-height:1.6em;
    }
    #toptask-list ul li a:hover{
        text-decoration:underline;
    }
    #toptask-list ul li.has-icon{
        display:flex;
    }
    #toptask-list ul li.has-icon .toptasks-list-icon{
        font-size:1.7em;
        vertical-align:text-top;
    }
    #toptask-list ul li.has-icon a{
        margin-left:1em;
    }
    @media only screen and (max-width:768px){
        .toptasks h2{
            font-size:1em;
            color:#c4c4c4;
        }
        #toptask-list ul{
            width:100%;
            margin-top:1em;
        }
        #toptask-list ul:first-child{
            margin-bottom:0;
        }
        #toptask-list ul:last-child{
            margin-top:0;
        }
        #toptask-list ul li{
            padding-left:.8em;
        }
        #toptask-list ul li::before{
            font-size:.8em;
            margin-left:-1em;
        }
        #toptask-list ul li a{
            font-size:1em;
        }
    }
    @media only screen and (max-width:800px) and (orientation:portrait){
        .toptasks h2{
            font-size:1em;
            color:#c4c4c4;
        }
        #toptask-list ul{
            width:100%;
            margin-top:1em;
        }
        #toptask-list ul:first-child{
            margin-bottom:0;
        }
        #toptask-list ul:last-child{
            margin-top:0;
        }
        #toptask-list ul li{
            padding-left:.8em;
        }
        #toptask-list ul li::before{
            font-size:.8em;
            margin-left:-1em;
        }
        #toptask-list ul li a{
            font-size:.9em;
        }
    }
    @media only screen and (max-width:1350px) and (orientation:landscape){
        .toptasks h2{
            font-size:1em;
            color:#c4c4c4;
        }
        #toptask-list ul{
            width:100%;
            margin-top:1em;
        }
        #toptask-list ul:first-child{
            margin-bottom:0;
        }
        #toptask-list ul:last-child{
            margin-top:0;
        }
        #toptask-list ul li{
            padding-left:.8em;
        }
        #toptask-list ul li::before{
            font-size:.8em;
            margin-left:-1em;
        }
        #toptask-list ul li a{
            font-size:1em;
        }
    }
    @media only screen and (min-width:768px) and (max-width:800px){
        #toptask-list ul{
            width:49%;
        }
        #toptask-list ul:last-child{
            margin-top:1em;
        }
    }
    @media (max-width:767px){
        #home-aside-social-buttons{
            display:none;
        }
    }
    @media (min-width:768px) and (max-width:1023px){
        #home-aside-social-buttons{
            position:absolute;
            right:0;
            top:36%;
            z-index:1;
        }
        #home-aside-social-buttons .social-buttons{
            padding:1em .8em;
            background-color:#1a2653;
        }
        #home-aside-social-buttons .social-buttons .social-button:not(:last-child){
            margin-bottom:1em;
        }
        #home-aside-social-buttons .social-buttons a{
            text-decoration:none;
        }
        #home-aside-social-buttons .social-buttons a .icon-round{
            position:relative;
            cursor:pointer;
            display:table;
            background:#fff;
        }
        #home-aside-social-buttons .social-buttons a .social-icon{
            color:#1a2653;
        }
        #home-aside-social-buttons .social-buttons a .social-icon::before{
            margin-right:0;
        }
        #home-aside-social-buttons .social-buttons a:hover>.icon-round{
            opacity:.8;
        }
        #home-aside-social-buttons .social-buttons a:focus>.icon-round{
            outline:#fff dotted 1px;
        }
    }
    @media (min-width:1024px){
        #home-aside-social-buttons{
            position:absolute;
            right:0;
            top:36%;
            z-index:1;
        }
        #home-aside-social-buttons .social-buttons{
            padding:1em .8em;
            background-color:#1a2653;
        }
        #home-aside-social-buttons .social-buttons .social-button:not(:last-child){
            margin-bottom:1em;
        }
        #home-aside-social-buttons .social-buttons a{
            text-decoration:none;
        }
        #home-aside-social-buttons .social-buttons a .icon-round{
            position:relative;
            cursor:pointer;
            display:table;
            background:#fff;
        }
        #home-aside-social-buttons .social-buttons a .social-icon{
            color:#1a2653;
        }
        #home-aside-social-buttons .social-buttons a .social-icon::before{
            margin-right:0;
        }
        #home-aside-social-buttons .social-buttons a:hover>.icon-round{
            opacity:.8;
        }
        #home-aside-social-buttons .social-buttons a:focus>.icon-round{
            outline:#fff dotted 1px;
        }
    }
    .info-block{
        text-align:center;
    }
    .info-block a.btn{
        float:none;
        display:inline-block;
        margin-top:1em;
    }
    #section-news-items ul{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-between;
        width:102%;
    }
    #section-news-items ul:after{
        content:"";
        flex:auto;
    }
    #section-news-items li{
        width:32%;
        text-align:left;
        display:inline-block;
        float:left;
        background-color:#fff;
        border-left:0;
        box-shadow:none;
        margin:.5em 2% 1.5em 0;
    }
    @media (min-width:1024px){
        #section-news-items li:nth-child(3n+4){
            clear:left;
        }
        #section-news-items li:nth-child(3n+3){
            margin-right:0;
        }
    }
    @media (min-width:768px) and (max-width:1023px){
        #section-news-items li{
            width:49%;
        }
        #section-news-items li:nth-child(2n+3){
            clear:left;
        }
        #section-news-items li:nth-child(2n+2){
            margin-right:0;
        }
    }
    #section-news-items li .image_wrapper{
        max-height:10em;
        height:10em;
        overflow:hidden;
        width:100%;
    }
    @media only screen and (max-device-width:699px){
        #section-news-items li .image_wrapper{
            max-height:8em;
        }
    }
    #section-news-items li .image_wrapper img{
        transition:transform .3s ease-out;
        width:100%;
        height:100%;
        object-fit:cover;
        overflow:hidden;
        font-family:'object-fit: cover;
        ';
    }
    #section-news-items li:hover .image_wrapper img{
        transform:scale(1.05);
    }
    #section-news-items li .title_wrapper{
        padding:1em .5em;
        text-align:left;
        overflow:hidden;
    }
    #section-news-items li .date{
        font-size:.8em;
    }
    #section-news-items li h2.title{
        font-size:1.2em;
        line-height:1.6em;
        letter-spacing:1px;
        font-weight:600;
        color:#1a2653;
        padding:0;
        float:left;
        clear:left;
    }
    #section-news-items li h2.title:after,#section-news-items li h2.title:before{
        content:'';
    }
    #section-news-items li a{
        text-decoration:none;
    }
    .version2 .section.toptasks{
        position:relative;
    }
    .version2 .section.toptasks .top-section-container{
        position:absolute;
        left:0;
    }
    @media (min-width:768px){
        .version2 .section.toptasks{
            margin-bottom:5em;
        }
        .homepage.version2 #header-search{
            float:none;
            position:relative;
        }
    }
    @media (max-width:767px){
        #section-news-items li{
            width:100%;
            margin-right:0;
        }
        .version2 .section.toptasks .top-section-container{
            position:relative;
            padding:0;
        }
        .version2 .section.toptasks .top-section-container #header-search{
            padding:0 10%;
            margin:2em 0;
        }
        .version2:not(.show-section-bg) .section.toptasks[style]{
            background-size:0;
        }
    }
    .primary{
        color:#1a2653;
    }
    .bg-primary{
        background:#1a2653;
    }
    .bg-white{
        background:#fff;
    }
    h2{
        color:#1a2653;
    }
    h1{
        font-size:2.8em;
        font-weight:300;
        line-height:1.25em;
        padding:.5em 0;
        color:#1a2653;
    }
    @media (max-width:767px){
        h1{
            font-size:1.5em;
            line-height:1.2em;
            margin-bottom:.5em;
        }
        a,h1,h2,li{
            word-wrap:break-word;
            -webkit-hyphens:auto;
            -moz-hyphens:auto;
            -ms-hyphens:auto;
            hyphens:auto;
        }
    }
    h1.home{
        font-size:1em;
        padding:1px 0;
        margin:0;
        color:#fff;
        max-width:auto;
        line-height:1em;
    }
    h2{
        font-size:1.4em;
        line-height:1.6em;
        font-weight:400;
        margin-bottom:.5em;
        width:100%;
    }
    .homepage h1,.portal h1{
        position:absolute;
        top:-999999em;
    }
    *,:after,:before{
        -webkit-box-sizing:inherit;
        -moz-box-sizing:inherit;
        box-sizing:inherit;
        -webkit-overflow-scrolling:touch;
    }
    #content,.full-width{
        box-sizing:border-box;
        width:100%;
    }
    body{
        font-size:1.2em;
        line-height:1.6em;
    }
    body{
        color:#666;
        background-color:#fff;
        font-family:Lato,"Lucida Sans","Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
        overflow-x:hidden;
        overflow-x:-moz-hidden-unscrollable;
    }
    #content,.full-width{
        float:left;
        position:relative;
    }
    a{
        color:#1a2653;
    }
    a:hover{
        text-decoration:none;
    }
    .clear{
        clear:both;
    }
    .container-padding{
        padding-left:20%;
        padding-right:20%;
    }
    @media only screen and (max-width:1399px){
        .container-padding{
            padding:0 15%;
        }
    }
    .container-margin{
        margin-top:5em;
    }
    #content{
        min-height:100%;
        min-height:100vh;
        min-width:50%;
        min-width:50vw;
        background-color:#fff;
    }
    #content{
        position:relative;
        float:left;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        min-width:50%;
        min-width:50vw;
    }
    .content-wrap{
        width:100%;
        position:relative;
        float:left;
    }
    #content{
        font-size:1rem;
    }
    @media only screen and (max-width:768px){
        .container-padding{
            padding:0 10%;
        }
        .homepage #content,.portal #content{
            width:100%;
        }
    }
    p{
        margin:0 0 1em;
    }
    p:empty{
        margin-bottom:0;
    }
    .homepage #content,.portal #content{
        padding:0 10%;
    }
    .homepage #content,.portal #content{
        min-height:0;
        background-color:transparent;
    }
    @media (min-width:768px){
        .homepage.version2 .section.toptasks .top-section-container #header-search{
            width:100%;
        }
        .homepage.version2 .section.toptasks .top-section-container #content{
            padding:0;
        }
    }
    .homepage.version2 #content{
        background:#fff;
    }
    .version2 .section{
        float:left;
        position:relative;
        box-sizing:border-box;
        width:100%;
    }
    .version2 .section.toptasks h2{
        color:#9a9a9a;
        font-weight:300;
    }
    @media only screen and (min-device-width:699px){
        .version2 .section.toptasks .top-section-container{
            position:absolute;
            bottom:-2em;
        }
    }
    .version2 .section.toptasks .top-section-container #header-search{
        width:100%;
        margin:0 auto 2em;
    }
    @media (min-width:1024px){
        .version2 .section.toptasks .top-section-container #header-search{
            width:80%;
        }
    }
    .version2 .section.toptasks .top-section-container #header-search #search form fieldset .searchbox_trefwoord{
        min-height:2em;
        font-size:.9em;
    }
    .version2 .section.toptasks .top-section-container #content{
        border-top:10px solid #1a2653;
        padding-top:2em;
        position:relative;
    }
    .version2 .section.toptasks .top-section-container #content::after{
        content:"";
        position:absolute;
        z-index:-1;
        -moz-box-shadow:0 0 100px rgba(0,0,0,.6);
        -webkit-box-shadow:0 0 100px rgba(0,0,0,.6);
        box-shadow:0 0 100px rgba(0,0,0,.6);
        bottom:0;
        left:10%;
        right:10%;
        width:80%;
        height:50%;
        -moz-border-radius:100%;
        border-radius:100%;
    }
    @media (max-width:767px){
        .version2 .section.toptasks .top-section-container #header-search{
            margin-bottom:0;
        }
        .version2 .section.toptasks .top-section-container #content::after{
            bottom:30px;
        }
    }
    .version2 .section h2{
        color:#000;
    }
    .small{
        font-size:0.8em;
        color:#666;
    }
    div#toptask-list ul:first-child{
        margin-right:2%;
    }
    @media only screen and (max-width: 800px) and (min-width: 768px){
        div#toptask-list ul:last-child{
            margin-top:0;
        }
    }
    body.homepage.version2 #content{
        background:transparent;
    }
    div#toptask-list ul li{
        background:#fff;
        margin-bottom:5px;
        padding:0.8em;
    }
    body.version2 .section h2{
        color:#1a2653;
    }
    body #search form fieldset .searchbox_trefwoord{
        font-style:italic;
        color:#000;
    }
    body.version2 .section.toptasks .top-section-container #content{
        border-top:none;
    }
    .version2 .section.toptasks h2{
        left:-99999px;
        position:absolute;
    }
    body .container-margin{
        margin-top:0em;
    }
    body #content,body.flex10,body .container-margin,body.version2 .section.toptasks{
        background-color:#fbfbfb;
    }
    @media only screen and (min-width: 768px){
        body #content,body.flex10,body .container-margin,body.version2 .section.toptasks{
            margin-top:0em;
        }
    }
    body #section-news-items li{
        box-shadow:3px 6px 8px rgba(0,0,0,.1);
    }
    body #section-news-items li h2.title:after{
        content:"\f105";
        font-family:"Font Awesome 5 Free";
        font-size:1em;
        font-weight:600;
        color:#0069a1;
        display:inline-block;
        text-decoration:none;
        width:1.2em;
        float:none;
        margin-left:0em;
        line-height:0;
        padding-left:.3em;
    }
    [class*=" icon-"]:before,[class^=icon-]:before{
        color:#0069a1;
    }
    .content_fontsize.small{
        font-size:100%;
    }
    div#toptask-list ul li.has-icon .toptasks-list-icon{
        width:1em;
        text-align:center;
    }
    div#home-aside-social-buttons .social-buttons{
        padding:1em .8em;
        background-color:#0069a1;
    }
    div#home-aside-social-buttons .social-buttons a .icon-round{
        background:#0069a1;
    }
    div#home-aside-social-buttons .social-buttons a .social-icon{
        color:#fff;
        font-size:1.6em;
    }
    div#page-options{
        top:18%;
    }
    @media only screen and (max-width: 1350px) and (orientation: landscape){
        div#toptask-list ul{
            margin-top:0;
        }
        div#toptask-list ul li{
            max-height:54px;
        }
    }
    @media only screen and (min-width: 800px){
        div#toptask-list ul{
            width:49%;
        }
    }
    @media only screen and (max-width: 767px){
        body.version2 .section.toptasks{
            margin-bottom:5em;
        }
        body #search form fieldset::after{
            content:'';
        }
        body.homepage #page-options .po_contrast{
            float:none;
            width:100%;
            height:55px;
        }
        div #section-news-items li h2.title{
            font-size:1em;
        }
    }
    @media only screen and (min-width: 768px){
        body.version2 .section.toptasks .top-section-container{
            position:absolute;
            bottom:2em;
        }
    }
    @media only screen and (max-width: 767px){
        body.version2 .section.toptasks .top-section-container{
            position:relative;
        }
    }
    @media (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active){
        .flex10.homepage.version2 #header-search #search form fieldset .searchbox_submit{
            font-size:.8em;
            padding-right:20%;
            min-width:80px;
        }
        .flex10.homepage.version2 #header-search #search form fieldset::after{
            font-size:.7em;
        }
    }
    #header{
        min-height:130px;
        box-shadow:0 14px 28px -28px rgba(0,0,0,.15), 0 10px 10px rgba(0,0,0,.1);
        display:flex;
        align-items:center;
        justify-content:space-between;
    }
    .nav-container{
        display:flex;
    }
    nav a{
        padding:1rem;
        color:#1a2653;
        text-decoration:none;
        font-size:1em;
        cursor:pointer;
        font-weight:bold;
    }
    nav li:first-child{
        border-right:1px solid #0069a1;
    }
    nav li.active a{
        border-bottom-color:#0069a1;
        border-bottom-style:solid;
        border-bottom-width:5px;
    }
    #logo img{
        max-width:250px;
    }
}
/*! CSS Used from: https://use.fontawesome.com/releases/v5.4.2/css/all.css */
.fab,.far,.fas{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
}
.fa-address-card:before{
    content:"\f2bb";
}
.fa-blind:before{
    content:"\f29d";
}
.fa-bus:before{
    content:"\f207";
}
.fa-calendar:before{
    content:"\f133";
}
.fa-calendar-alt:before{
    content:"\f073";
}
.fa-car:before{
    content:"\f1b9";
}
.fa-clock:before{
    content:"\f017";
}
.fa-facebook-f:before{
    content:"\f39e";
}
.fa-info-circle:before{
    content:"\f05a";
}
.fa-twitter:before{
    content:"\f099";
}
.fab{
    font-family:"Font Awesome 5 Brands";
}
.far{
    font-weight:400;
}
.far,.fas{
    font-family:"Font Awesome 5 Free";
}
.fas{
    font-weight:900;
}
/*! CSS Used fontfaces */
@font-face{
    font-family:'Lato';
    font-style:normal;
    font-weight:300;
    src:local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Lato';
    font-style:normal;
    font-weight:300;
    src:local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Lato';
    font-style:normal;
    font-weight:400;
    src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Lato';
    font-style:normal;
    font-weight:400;
    src:local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:400;
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.eot);
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-regular-400.svg#fontawesome) format("svg");
}
@font-face{
    font-family:"Font Awesome 5 Free";
    font-style:normal;
    font-weight:900;
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.eot);
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-solid-900.svg#fontawesome) format("svg");
}
@font-face{
    font-family:"Font Awesome 5 Brands";
    font-style:normal;
    font-weight:normal;
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.eot);
    src:url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.eot#iefix) format("embedded-opentype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.woff2) format("woff2"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.woff) format("woff"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.ttf) format("truetype"),url(https://use.fontawesome.com/releases/v5.4.2/webfonts/fa-brands-400.svg#fontawesome) format("svg");
}
